* {
    margin: 0;
    padding: 0;
}

.App{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3rem;
    padding: 2rem;
    border: 1px solid #6f332e;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(30, 20, 20, 0.8);
}

.box-button{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1.5rem;
}

button {
    border-style: none;
    padding: 0.5rem;
    font-size: 1.25rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin: 25px 0;
}

button:hover {
    background-color: #6f332e5b;
}

